.modalica-modal{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;top:0;
	left:0;right:0;bottom:0;
	position:fixed;
	overflow:auto;
	z-index:100;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);-webkit-transform:translateX(-100%);transform:translateX(-100%)}.modalica-modal *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.modalica-modal.active{-moz-transform:translateX(0%);-ms-transform:translateX(0%);-webkit-transform:translateX(0%);transform:translateX(0%)}.modalica-modal
	 .modalica--wrapper{max-width:2560px;margin:2em auto;padding:0px;position:relative}
	 .modalica-modal .modalica--wrapper .modalica--wrapper-bg{font-family:Arial, Helvetica, sans-serif;color:#444 !important;position:relative}
	 .modalica-modal .modalica--close{margin-top: 100px; width:40px;height:40px;cursor:pointer;background-color:#dd3e4e;text-align:center;display:inline-block;font-size:30px;line-height:42px;font-family:Arial, Helvetica, sans-serif;color:#FFF;border-radius:50px;margin-bottom:2em;position:relative;z-index:10;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;transition:all 0.3s ease}.modalica-modal .modalica--close:hover{background-color:#ff8f00}.modalica-modal .modalica--close:hover:after{opacity:1}.modalica-modal .modalica--close:after{-moz-transition:all 0.2s ease;-o-transition:all 0.2s ease;-webkit-transition:all 0.2s ease;transition:all 0.2s ease;position:absolute;opacity:0;left:-1px;top:-1px;content:"Fermer";font-size:.5em;padding-left:3em;padding-right:1em;border-radius:60px;z-index:-10;background-color:#ffa533}.modalica-modal .modalica--content{display:block !important}.modalica-modal .modalica--content img,.modalica-modal .modalica--content embed{max-width:100%;height:auto}.modalica--content{display:none}body:after{content:"";background-color:#EAEAEA;position:fixed;top:0;left:0;right:0;bottom:0;z-index:1;-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);-webkit-transform:translateX(-100%);transform:translateX(-100%);-moz-transition:all 0.2s ease;-o-transition:all 0.2s ease;-webkit-transition:all 0.2s ease;transition:all 0.2s ease}body.modalica-active{overflow:hidden}body.modalica-active:after{-moz-transform:translateY(0%);-ms-transform:translateY(0%);-webkit-transform:translateY(0%);transform:translateY(0%)}
