@media (max-width: 2560px) {
	.hune-image2 {
		display: none;
	}
}
@media (max-width: 1440px) {
	.hune-image2 {
		display: none;
	}
}
@media (max-width: 1280px) {
	.hune-image2 {
		display: none;
	}
}
@media (max-width: 1024px) {
	#hune-timnguoi {
    margin-left: 0px;
	}
	.hune-image2 {
		display: none;
	}
	.features .feature-image {
    width: 100%;
	}
	.btn-funtion h3 {
		font-size: 18px;
	}
}
@media (max-width: 768px) {
	.frmdk form {
		margin-bottom: 20px;
	}
	#hune-timnguoi {
    margin-left: 150px;
	}
	#element5 {
    display: none;
	}
	.element7 {
    margin-top: 10px;
	}
	.hune-slider {
	height: 400px;
	}
	#element8 {
		width: 100%;
	}
	#element2 {
		margin-top: 100px;
	}
	.frmdk {
		margin-top: 50px;
	}
	.hune-image2 {
		display: none;
	}
	.btnchplay {
		margin-top: 80px;
		margin-left: 50px;
	}
	.btngg {
		margin-left: 50px;
	}
	.hune-image1 {
    display: none;
	}
	#mobile_menu {
		font-size: 18px;
	}
}
@media (max-width: 425px) {
	#hune-timnguoi {
		margin-left: 80px; 
		margin-bottom: 10px;
	}
	#hune-timviec {
		margin-left: 80px; 
	}
	.list-social {
		margin-left: -55px;
	}
	.hune-slider {
		height: 300px;
	}
	.carousel-caption {
		margin-top: 5px;
	}
	.dvdd {
		font-size: 20px;
		top: 10px;
	}
	.hune-image1 {
    display: none;
	}
	.hune-image2{
		display: block;
	}
	.banner .box-download {
    left: 0px;
    width: 100%;
	}
	.banner .box-form {
		right: 30px;
	}
	.banner .box-download {
    left: 0px;
	}
	.banner .box-download {
    width: 80%;
    left: 50px;
	}
	.features .feature-image {
    width: 100%;
	}
	.dvdd {
    height: 50px;
    line-height: 50px;
	}
	#mobile_menu {
		height: 50px;
	}
	.btn-funtion h3 {
		font-size: 10px;
	}
}
@media (max-width: 375px) {
	.features .feature-image.feature-1 {
    background-position: -100px top;
	}
}
@media (max-width: 320px) {
	.hune-image2{
		display: block;
	}
}
