@font-face {
    font-family: bebasneue;
    src: url("../fonts/73-13973-tahoma.ttf");
}
@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-Regular.otf");
}
body {
	background-image: url(../images/bg1.png);
	background-size: cover;
	background-repeat: repeat-y;

}
.hune-image2 {
	margin-left: -15px;
}
.hune-image1 {
	margin-left: -45px;
}
/* .hune-menu {
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: MyriadPro;
} */
.hune-slider {
	height: 600px;
}
.hune-slider img {
	width: 100%;
	height: 100%;
}
.hune-button1 {
	margin-top: 15px;
}
.dvdd {
	font-weight: bold;
	font-size: 60px;
	color: #15295d;
	background-color: rgba(255, 255, 255, 0.3);
	margin-top: 0px;
	text-shadow: none;
	height: 100px; 
	line-height: 100px;
}
.hune-button1 {
	margin-top: 15px;
	border-radius: 10px;
	border: 2px solid #004a80;
	background-color: #d8e3e8;
	height: 45px;
	font-size: 22.55px;
}
.banner {
    /* background-image: url(../images/banner.png) ; */
    background-size: cover;
    min-height: 759px;
}
.link {
	margin-top: 30px;
}
.QR {
	font-weight: bold;
}
.frmdk {
	margin-top: 200px;
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 0.65);
}
.frmdk form div label {
	font-size: 20px;
	font-weight: normal;
}
.frmdk form div {
	margin-bottom: 30px;
}
.frmdk form div input {
	height: 40px;
}
/* .frmdk form div {
	margin-top: 20px;
} */
.dklv {
	padding-top: 50px;
	text-align: center;
	color: #192082;
}
.btndk1 {
	background-color: #ffffff;
	color: #424242;
	height: 45px;
	width: 155px;
	margin-bottom: 50px;
	/* font-weight: bold; */
	font-size: 20.77px;
}
#element2 {
	margin-top: 630px;
	font-size: 68px;
}
.hune-img-chplay {
	margin-bottom: 20px;
	margin-top: 20px;
	width: 100%;
}
.huna-icon-slider {
	margin-bottom: -100px;
}
.timviec {
	margin-left: 100px;
	font-size: 25px;
	font-weight: bold;
}
.function {
	margin-top: 100px;
	/* margin-bottom: 10px; */
}
.function h3 {
	color: #0d143b;
	font-size: 36px;
	font-weight: bold;
	margin-left: -15px;
}
.function p {
	color: #0d143b;
	font-style: italic;
	font-size: 27px;
	margin-left: 15px;
}
.block1 {
	position: relative;
}
#element20 {
	text-align: center;
	color: #0d143b; 
	font-size: 50px;
	margin-top: 100px;
}
.hune_block1 {
	background-image: url(../images/banner1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.carousel-full-width {
	padding-left: 0px;
    padding-right: 0px;
}
.hunebtn2 {
	height: 70px; 
	width: 70px; 
	border-radius: 100%; 
	background: #005b7f;
	color: #ffffff;
	font-size: 40px;
}
.function div button:hover {
	background: #CE9D9D;
}
#element3 {
	background-image: url(../images/hune2.png) ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 850px;
	width: 750px;
	margin-top: 170px;
}
#element31 {
	width: 80%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
}
.box div {
            display: none;
}
.box div.active {
    display: block;
}
.carousel-indicators .active {

   	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.btnchplay {
	background-image: url(../images/chplay_click.png);
	height: 76px;
	width: 230px;
	background-size: cover;
	border-radius: 20px;
	border: 3px solid #080000;
	margin-top: 20px;
}
.btnchplay:hover {
	opacity: 0.5;
    filter: alpha(opacity=50);
}
.btngg {
	background-image: url(../images/Google-Play-App-Store.png);
	height: 76px;
	width: 230px;
	background-size: cover;
	border-radius: 20px;
	border: 3px solid #080000;
	margin-top: 20px;
}
.hunefooter{
	color: #241414;
	font-weight: bold;
	font-size: 20px;
}
.hune-contact {
	font-size: 17px;
	font-weight: 600;

}
#hune-timnguoi {
		border: 2px solid #003471;
		/* width: 170px; */
		margin-left: 60px;
		font-size: 25px;
		font-weight: bold;
}
#hune-timviec {
	border: 2px solid #003471;
	width: 170px;
	margin-left: 100px;
}
.screem_phone {
    background: #F29797;
    position: absolute;
    bottom: 190px;
    left: 330px;
    width: 315px;
    height: 550px;
}
.list-inline-item {
	display: inline-block;
	margin-left: 20px;
	list-style: none;
}
.list-inline-item a:hover {
	opacity: 0.5;
}
.cril {
	height: 50px; 
	width: 50px; 
	background-color: #1a3774;
	border-radius: 100%;
	margin-bottom: 30px;
	line-height: 50px; 
	color: #ffffff;
	font-size: 20px; 
	font-weight: bold;
	margin-top: 20px;
}
#element10 {
	width: 50px;
	height: 50px;
	background-image: url(../images/nut1.png); 
	background-size: cover;
	border-radius: 100%;
}
#element11 {
	width: 50px;
	height: 50px;
	background-image: url(../images/nut2.png); 
	background-size: cover;
	border-radius: 100%;
}
#element12 {
	width: 50px;
	height: 50px;
	background-image: url(../images/nut3.png); 
	background-size: cover;
	border-radius: 100%;
}
#element13 {
	width: 50px;
	height: 50px;
	background-image: url(../images/nut4.png); 
	background-size: cover;
	border-radius: 100%;
}
#element14 {
	text-align: center;
	font-size: 54.22px; 
	color: #0d143b;
	margin-top: 170px;
}
#element15 {
	background-color: #68B8F5;
	border-radius: 100%;
	color: #ffffff; 
	width: 100px; 
	height: 100px;
	text-align: center;
	line-height: 100px;
}
#element16 {
	background-color: #0C0F95;
	border-radius: 100%;
	color: #ffffff;
	width: 100px; 
	height: 100px;
	text-align: center;
	line-height: 100px;
}
#element17 {
	background-color: red;
	border-radius: 100%;
	color: #ffffff;
	width: 100px; 
	height: 100px;
	text-align: center;
	line-height: 100px;
}
.icon-slider {

}
.list-social {
	margin-left: -15px;
}
#element5 {
	border-bottom: 3px dashed #253983;
	width: 72%;
}
.element7 {
	text-align: center;margin-top: -70px
}
.element7 img {
	width: 100%;
}
.hune-footer {
	margin-left: 0px;
	margin-right: 0px;
}
#element21 {
	top: 0px;
	padding-top: 20px;
	left: 0;
	margin-left: 0px;
	padding-left: 0px;
	margin-right: -15px;
    right: 0px;
    height: 100px;
}
.box2 div {
	display: none;
}
.box2 div.active {
            display: block;
}
.btn-funtion {
	background: none;
	border: none;
	/* font-size: 15px;  */
	color: #0d143b;
	font-weight: bold;
	margin-top: -20px;
}
.btn-funtion h3 {
	font-weight: bold;
	/* font-size: 17px; */
}
.box3 img {
            display: none;
        }
.box3 img.active {
	display: block;
} 
.element7 h3 {
	color: #606273;
	font-weight: bold;
}   