.navbar-brand {
  height: 77px;
  padding: 0;
}
.navbar-brand img {
  width: 74px;
  height: 77px;
}

.navbar {
  min-height: 77px;
  margin-bottom: 0;
}

.navbar-default {
  background-color: rgba(227, 234, 238, 0.39);
  border: none;
}
.navbar-default .navbar-nav > li > a {
  line-height: 50px;
  height: 77px;
  text-transform: uppercase;
  color: #000000;
  font-size: 22px;
}
.navbar-default .navbar-nav.navbar-right {
  padding-right: 15px;
}
.navbar-default .navbar-nav.navbar-right > li > a {
  border: 2px solid #004a80;
  margin-top: 12px;
  line-height: 20px;
  height: 52px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

body {
  background: #ffffff url("../images/background.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

.banner {
  position: relative;
  height: calc(100vh - 77px);
  width: 100%;
}
.banner .banner-1 {
  background: url("../images/banner-1.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 77px);
}
.banner .banner-2 {
  background: url("../images/banner-2.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 77px);
}
.banner .box-download {
  position: absolute;
  width: 600px;
  left: 30px;
  bottom: 20px;
  z-index: 5;
}
.banner .box-download .title-download {
  font-size: 30px;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}
.banner .box-download .title-qrcode {
  display: block;
  font-size: 16px;
  margin: 5px 0 10px;
}
.banner .box-download .download-list .img-qr {
  display: block;
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 15px;
}
.banner .box-download .download-list .img-qr img {
  display: none;
  width: 100%;
  height: 100%;
}
.banner .box-download .download-list .img-qr img.active {
  display: block;
}
.banner .box-download .download-list .actons {
  padding: 10px 0;
}
.banner .box-download .download-list .actons a {
  display: block;
}
.banner .box-download .download-list .actons a img {
  width: 130px;
}
.banner .box-download .download-list .actons a img.hover {
  display: none;
}
.banner .box-download .download-list .actons a:first-child {
  margin-bottom: 10px;
}
.banner .box-download .download-list .actons a.active img.normal, .banner .box-download .download-list .actons a:hover img.normal {
  display: none;
}
.banner .box-download .download-list .actons a.active img.hover, .banner .box-download .download-list .actons a:hover img.hover {
  display: block;
}
.banner .box-form {
  position: absolute;
  width: 330px;
  right: 30px;
  top: 30px;
  background: rgba(255, 255, 255, 0.66);
  padding: 15px;
}
.banner .box-form .title-form {
  color: #192082;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.banner .box-form form .form-group,
.banner .box-form form .form-control {
  margin: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.banner .box-form form .form-group {
  margin-bottom: 15px;
}
.banner .box-form form .form-group label {
  font-weight: 400;
}
.banner .box-form form .btn-action {
  text-align: center;
}
.banner .box-form form .btn-action .btn.btn-default {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: #ffffff;
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
}
.banner .box-form form .btn-action .btn.btn-default:hover {
  border-color: #7358ab;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  background-color: #0082b6;
  border: 1px solid #0082b6;
}

.carousel-indicators .active {
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #000000;
  border: 1px solid #000000;
}

.features {
  padding: 50px 0 0;
}
.features .title {
  font-size: 40px;
  color: #0d143b;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.features .feature-image {
  width: 557px;
  height: 642px;
  margin: -48px auto 0;
  position: relative;
  display: none;
}
.features .feature-image.feature-1 {
  background: url("../images/1-tinhnangnoibat.png") no-repeat center top;
}
.features .feature-image.feature-2 {
  background: url("../images/2-tinhnangnoibat.png") no-repeat center top;
}
.features .feature-image.feature-3 {
  background: url("../images/3-tinhnangnoibat.png") no-repeat center top;
}
.features .feature-image.feature-4 {
  background: url("../images/4-tinhnangnoibat.png") no-repeat center top;
}
.features .feature-image.active {
  display: block;
}
.features .feature-list {
  color: #0d143b;
  list-style: none;
  font-size: 28px;
  padding: 0;
}
.features .feature-list li {
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.features .feature-list li:before {
  content: attr(data-num);
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #005b7f;
  color: #ffffff;
  position: absolute;
  left: -80px;
  top: -12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.features .feature-list li ul {
  padding: 0;
  font-size: 20px;
  font-style: italic;
  list-style: none;
}
.features .feature-list li ul li {
  text-transform: none;
  margin-bottom: 5px;
}
.features .feature-list li ul li:before {
  content: none;
}

/*# sourceMappingURL=custom.css.map */
