body
  background: #ffffff url('../images/background.jpg') no-repeat center
  background-attachment: fixed
  background-size: cover
.banner
  position: relative
  height: calc(100vh - 77px)
  width: 100%
  .banner-1
    background: url('../images/banner-1.png') no-repeat center
    background-size: cover
    width: 100%
    height: calc(100vh - 77px)
  .banner-2
    background: url('../images/banner-2.png') no-repeat center
    background-size: cover
    width: 100%
    height: calc(100vh - 77px)
  .box-download
    position: absolute
    width: 600px
    left: 30px
    bottom: 20px
    z-index: 5
    .title-download
      font-size: 30px
      display: block
      text-transform: uppercase
      font-weight: 600
    .title-qrcode
      display: block
      font-size: 16px
      margin: 5px 0 10px
    .download-list
      .img-qr
        display: block
        float: left
        width: 120px
        height: 120px
        margin-right: 15px
        img
          display: none
          width: 100%
          height: 100%
          &.active
            display: block
      .actons
        padding: 10px 0
        a
          display: block
          img
            width: 130px
            &.hover
              display: none
          &:first-child
            margin-bottom: 10px
          &.active,
          &:hover
            img
              &.normal
                display: none
              &.hover
                display: block
  .box-form
    position: absolute
    width: 330px
    right: 30px
    top: 30px
    background: rgba(255, 255, 255, 0.66)
    padding: 15px
    .title-form
      color: #192082
      font-size: 22px
      text-transform: uppercase
      text-align: center
      margin-bottom: 20px
    form
      .form-group,
      .form-control
        margin: 0
        @include border_radis(0)
      .form-group
        margin-bottom: 15px
        label
          font-weight: 400
      .btn-action
        text-align: center
        .btn.btn-default
          @include border_radis(0)
          background: #ffffff
          text-transform: uppercase
          color: #000
          font-size: 18px
          &:hover
            border-color: #7358ab
.carousel-indicators li
  width: 20px
  height: 20px
  background-color: #0082b6
  border: 1px solid #0082b6
.carousel-indicators .active
  width: 20px
  height: 20px
  margin: 0
  background-color: #000000
  border: 1px solid #000000
.features
  padding: 50px 0 0
  .title
    font-size: 40px
    color: #0d143b
    text-transform: uppercase
    font-weight: 600
    text-align: center
    margin-bottom: 20px
  .feature-image
    width: 557px
    height: 642px
    margin: -48px auto 0
    position: relative
    display: none
    &.feature-1
      background: url('../images/1-tinhnangnoibat.png') no-repeat center top
    &.feature-2
      background: url('../images/2-tinhnangnoibat.png') no-repeat center top
    &.feature-3
      background: url('../images/3-tinhnangnoibat.png') no-repeat center top
    &.feature-4
      background: url('../images/4-tinhnangnoibat.png') no-repeat center top
    &.active
      display: block

  .feature-list
    color: #0d143b
    list-style: none
    font-size: 28px
    padding: 0
    li
      text-transform: uppercase
      margin-bottom: 30px
      position: relative
      &:before
        content: attr(data-num)
        display: inline-block
        width: 60px
        height: 60px
        line-height: 60px
        text-align: center
        background: #005b7f
        color: #ffffff
        position: absolute
        left: -80px
        top: -12px
        @include border_radis(50%)
      ul
        padding: 0
        font-size: 20px
        font-style: italic
        list-style: none
        li
          text-transform: none
          margin-bottom: 5px
          &:before
            content: none

